<div *ngIf="hero">

  <p-card header="{{ hero.name | uppercase }} Details">
    <div class="d-card"><span>id: </span> {{ hero.id }}</div>
    <div class="d-card"><span>name: </span> {{ hero.name }}</div>
    <div>
      <label class="d-card" for="name"> Hero name: </label>
      <input id="name" type="text" pInputText [(ngModel)]="hero.name" class="p-inputtext-sm" placeholder="Hero Name" type="text"/>
    </div> 
  </p-card>
  <p-button [style]="{marginTop: '10px'}" [raised]="true" label="Go back" size="small" (click)="goBack()"></p-button>

  </div>