  <p-accordion [activeIndex]="0" *ngIf="messageService.getMessages().length">
    <p-accordionTab header="Messages">

      <div class="btn">
        <p-button label="Clear All Messages" badge={{messageService.getMessages().length}} [raised]="true" severity="warning" badgeClass="p-badge-danger" [rounded]="false" (click)="messageService.clear()"></p-button>
      </div>

      <div class="msg" *ngFor="let message of messageService.getMessages()">
        {{message}}
      </div>
        
    </p-accordionTab>
</p-accordion>